

# Ignore all hidden files and folders (those starting with a dot)
.*
.env
.venv
dotenv.txt
codeaiwash.csv

# Ignore all vector databases generated 
faiss_*
chroma_db*
output*

# Optional: If you want to make sure your .gitignore file itself is NOT ignored
!.gitignore


# Python bytecode & cache files
__pycache__/
*.py[cod]
*$py.class